{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<section class="page-section">
		<div class="container py-5 mt-5">
			<div class="text-center">
				<h2 class="section-heading text-uppercase">Inscription sur SnowTricks</h2>
				<h3 class="section-subheading">Créer votre compte</h3>
			</div>
			<div class="container col-lg-7 col-md-10 mx-auto">{{ form_start(registrationForm) }} {{ form_widget(registrationForm) }}
				{# {{ form_row(registrationForm.agreeTerms) }} #}

				<button type="submit" class="btn btn-lg col-12 btn-primary btn-xl text-uppercase">Créer le compte</button> {{ form_end(registrationForm) }}
			</div>
		</div>
	</section>
{% endblock %}
