{# {% extends 'base.html.twig' %}

{% block title %}Création d'une catégorie
{% endblock %}

{% block body %}
	<div class="panel panel-default">
		<div class="panel-body-newTrick">
			<h2>Création d'une catégorie</h2> {{ form_start(formCategory) }} {{ form_row(formCategory.title) }} {{ form_row(formCategory.description) }}

			<div class="pt10 pb10">
				<button type="submit" class="btn btn-primary">Enregistrer</button>
			</div> {{ form_end(formCategory) }}
		</div>
	</div>
{% endblock %}
 #}

{% extends "base.html.twig" %}
{% form_theme formCategory 'bootstrap_4_layout.html.twig' %}
{% block body %}
	{% if editMode %}
		<h1>Modification de la catégorie !</h1>
	{% else %}
		<h1>Création d'une catégorie !</h1>
	{% endif %} {{ form_start(formCategory) }} {{ form_start(formCategory) }} {{ form_row(formCategory.title) }} {{ form_row(formCategory.description) }}

	<button type="submit" class="btn btn-success">
		{% if editMode %}
			Enregistrer les modifications
		{% else %}
			Ajouter la catégorie
		{% endif %}
	</button> {{ form_end(formCategory) }}
{% endblock %}
