{% extends 'base.html.twig' %}

{% block title %}Les catégories
{% endblock %}

{% block body %}
	<section class="page-section">
		<div class="container py-5 mt-5">
			<div class="text-center">
				<h2 class="section-heading text-uppercase">Les catégories</h2>
				<h3 class="section-subheading">Ajouter une nouvelle
					<a href="{{ path('category_create') }}">catégorie</a>
				</h3>
			</div>
			<section class="container col-lg-8 col-md-10 mx-auto">
				{% for category in categories %}
					<div class="row">
						<div class="col-md-10 col-12 mx-auto row">
							<div class="col-lg-4 col-4"> {{ category.title }}
							</div>
							<p class="col-lg-6 col-6"> {{ category.description }}
							</p>
						</div>
						{% if app.user %}
							<p class="operations">
								<a href="{{ path('category_edit', {'id': category.id}) }}">
									<i class="fas fa-pencil-alt"></i>
								</a>
							</p>
						{% endif %}
					</div>
				{% endfor %}
			</section>
			<div class="text-center">
				<h3 class="section-subheading">Créer un
					<a href="{{ path('trick_create') }}">Trick</a>
				</h3>
			</div>
		</div>
	</section>
{% endblock %}
