{% extends 'base.html.twig' %} {% block title %}SnowTricks - Créer un trick{% endblock %} {% form_theme formTrick 'shared/_collection.html.twig' %} {% block body %}
<div class="col-lg-7 col-md-10 mx-auto">
    <h1>Créer un nouveau trick</h1>
    {{ form_start(formTrick) }} {{ form_row(formTrick.title) }} {{ form_row(formTrick.description) }} {{ form_row(formTrick.category) }}

    <div class="form-group">
        {{ form_label(formTrick.mainImage) }}
        <div class="row">
            <div class="col-sm-6">
                {{ form_errors(formTrick.mainImage.file) }} {{ form_widget(formTrick.mainImage.file) }} {{ form_help(formTrick.mainImage.file) }}
            </div>
            <div class="col-sm-6">
                {{ form_errors(formTrick.mainImage.alt) }} {{ form_widget(formTrick.mainImage.alt) }} {{ form_help(formTrick.mainImage.alt) }}
            </div>
        </div>
    </div>

    <!-- {{ form_row(formTrick.images) }} {{ form_row(formTrick.videos) }} -->

    <button type="submit" class="btn btn-success btn-lg col-12"><i class="fas fa-check"></i> Créer le nouveau trick
        !</button> {{ form_end(formTrick) }}
</div>
{% endblock %} {% block javascripts %} {{ parent() }} {% endblock %}