{% extends "base.html.twig" %} {% form_theme formTrick 'bootstrap_5_layout.html.twig' %} {% block body %} {% if editMode %}
<h1>Modification de la figure !</h1>
{% else %}
<h1>Création d'une figure !</h1>

{% endif %} {{ form_start(formTrick) }}


<div class="row">
    {{ form_row(formTrick.title, {'attr' : {'placeholder': "Titre de la figure"}}) }} {{ form_row(formTrick.description, {'attr' : {'placeholder': "Description de la figure"}}) }} {{ form_row(formTrick.slug, {'attr' : {'placeholder': "Slug"}}) }} {{ form_row(formTrick.category,
    {'attr' : {'placeholder': "Groupe de la figure"}}) }}
</div>
<button type="submit" class="btn btn-success">
    {% if editMode %}
    Enregistrer les modifications
    {% else %}
    Ajouter la figure
    {% endif %}
</button> {{ form_end(formTrick) }} {% endblock %}