{% extends 'base.html.twig' %} {% block body %}
<article>
    <h2>{{ trick.title }}</h2>
    <div class="metadata">Ecrit le {{ trick.createdAt | date('d/m/Y') }} à {{ trick.createdAt | date('H:i') }} dans la catégorie {{ trick.category.title }}</div>
    <div class="content"> {{ trick.mainImage }}{{ trick.description | raw }}
    </div>
</article>

<section id="comments">
    <h1>{{trick.comments | length }} commentaires</h1>
    {% for comment in trick.comments | slice(0,5) %}
    <div class="comment row mx-auto">
        <div class="col-md-10 col-12 mx-auto row">
            <div class="userImage col-lg-2 col-4">
                <img src="{{ asset(comment.user.imagePath ~ '/' ~ comment.user.imageName) }}" class="avatar avatar-medium" alt="comment.user.username">
            </div>
            <p class="col-lg-10 col-8 bg-light">
                <strong>{{ comment.user.username }}</strong> <small class="text-muted">({{ comment.createdAt |
                    date('d/m/Y à H:i') }}) :</small>
                <br>{{ comment.content }}
            </p>
        </div>
    </div>
    {% endfor %} {{ form_start(commentForm) }} {{ form_row(commentForm.content, {'attr': {'placeholder': "Votre commentaire"}}) }}

    <button type="submit" class="btn btn-success">Commenter</button> {{ form_end(commentForm)}}
</section>

{% endblock %}