{% extends 'base.html.twig' %}

{% block title %}
	{% if editMode %}
		Modification de la figure
	{% else %}
		SnowTricks - Créer un trick
	{% endif %}
{% endblock %}

{% form_theme form 'shared/_collection.html.twig' %}

{% block body %}
	<section class="page-section">
		<div class="container py-5 mt-5">
			<div class="text-center">
				{% if editMode %}
					<h2 class="section-heading text-uppercase">Modifier le trick</h2>
				{% else %}
					<h2 class="section-heading text-uppercase">Créer un nouveau trick</h2>
					<h3 class="section-subheading">Merci de contribuer dans notre communaute!</h3>
				{% endif %}
			</div>
			<div class="container col-lg-7 col-md-10 mx-auto"> {{ form_start(form) }} {{ form_row(form.category) }}
				<p>
					{% if not editMode %}
						<a href="{{ path('category_create') }}">Ajouter une nouvelle catégorie</a>
					{% endif %}
				</p> {{ form_row(form.title) }} {{ form_row(form.description) }} {{ form_row(form.images) }} {{ form_row(form.videos) }}

				<button type="submit" class="btn btn-lg col-12 btn-primary btn-xl text-uppercase">
					{% if editMode %}
						<i class="fas fa-pencil-alt"></i>
						Modifier la figure
					{% else %}

						<i class="fas fa-check"></i>
						Créer le nouveau trick !
					{% endif %}
				</button> {{ form_end(form) }}
			</div>
		</div>
	</section>
{% endblock %}

{% block javascripts %} {{ parent() }} {{ encore_entry_script_tags('trick-form') }}
{% endblock %}
