{% extends 'base.html.twig'%}

{% block body %}
	<!-- Masthead-->
	<header class="masthead">
		<div class="container">
			<div class="masthead-subheading">SnowTricks</div>
			<div class="masthead-heading text-uppercase">SnowTricks</div>
			<a class="" href="#portfolio">
				<i class="bi bi-mouse fa-4x"></i>
			</a>
		</div>
	</header>


	<h1 class="text-center mt-5"> {{ title }}</h1>


	<!-- Présentation -->
	<section class="page-section" id="about">
		<div class="container">
			<div class="row free text-center text-lg-start">
				<div class="col-lg-6 side-left">
					<img src="img/snowboard.jpg" alt="">
				</div>
				<div class="col-lg-6 side-right">
					<h2 class="section-heading text-uppercase">SnowTricks</h2>
					<h3 class="section-subheading text-muted">Histoire du snowboard</h3>
					<p class="text-muted">Les origines du snowboard sont difficiles à déterminer avec certitude. On peut en retrouver les prémices dans les années 1920. Dès cette époque, il semble que, indépendamment de toute invention ou commercialisation, de nombreuses personnes se soient amusées à glisser sur la neige debout sur une planche. C'est beaucoup plus tard qu'auront lieu les premiers dépôts de brevets et les batailles juridiques qui permettent aujourd'hui à Jake Burton d'affirmer qu'il est l'inventeur du snowboard. Pourtant de nombreuses personnes revendiquent, à tort ou à raison, un rôle déterminant dans sa création, ou même sa paternité. Et s'ils sont en effet nombreux à avoir joué un rôle dans l'histoire de ce nouveau sport de glisse, il est difficile de mesurer l'importance de l'apport de chacun. En outre de nombreux pionniers ont développé des innovations identiques chacun de leurs côtés.</p>
				</div>
			</div>
		</div>
	</section>


	<!-- Tricks listing -->
	<!-- Portfolio / Programmation Grid-->
	<section class="page-section bg-lightx" id="portfolio">
		<div class="container ">
			<div class="text-center">
				<h2 class="section-heading-programmation text-uppercase">Les tricks</h2>
			</div>
			<div class="row">
				{% for trick in tricks %}
					<div class="col-lg-3 col-sm-6 mb-4 mb-lg-4">
						<div class="portfolio-item">
							<a class="portfolio-link" href="{{ path('trick_show', {'slug': trick.slug}) }}">
								<div class="portfolio-hover">
									<div class="portfolio-hover-content text-center">
										<i class="fas fa-ellipsis-h fa-3x"></i>
										<br/></div>
								</div>
								<img src="{{ asset(trick.mainImage.pathThumbnail ~ '/' ~ trick.mainImage.title) }}" class="card-img-top" alt="{{ trick.mainImage.alt }}">
							</a>
							<div class="portfolio-caption ">
								<div class="portfolio-caption-heading text-uppercase mb-4">{{ trick.title }}</div>

								<hr class="my-4 mx-auto text-muted"/>
								<div class="d-flex justify-content-between">
									<h6 class="portfolio-caption-subheading text-muted text-md-start col-md-8">{{ trick.category.title }}</h6>
									{% if app.user %}
										<div class="operations">
											<a href="{{ path('trick_edit', {'slug': trick.slug}) }}">
												<i class="fas fa-pencil-alt"></i>
											</a>
											<a href="{{ path('trick_delete', {'slug': trick.slug}) }}" onclick="return confirm(`Êtes-vous sûr de vouloir supprimer le trick : {{trick.title}} ?`)">
												<i class="fas fa-trash-alt"></i>
											</a>
										</div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="row">
				<div class="col-12 text-center">
					<button id="loadMoreTricks" class="btn btn-primary">Voir plus de tricks</button>
				</div>
			</div>
			<a href="#tricks">
				<i id="arrow-up" class="fas fa-arrow-up fa-3x float-right"></i>
			</a>
		</div>
	</section>
{% endblock %}
{% block javascripts %} {{ parent() }}<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
		$("#arrow-up").hide();
click = 0;
function loadMoreTricks(event) {
event.preventDefault();
click ++;
var start = 15 * click;
const url = "{{ path('loadMoreTricks') }}" + start;

axios.get(url).then(function (response) {
console.log(response);
$("#trickList").append(response.data);
$("#arrow-up").show();
}).catch(function (error) {
if (response.status === 403) {
window.alert("Vous n'êtes pas autorisé à effectuer cette action !");
} else if (response.status === 404) {
window.alert("La page appelé n'existe pas");
} else {
window.alert("Une erreur est survenue !");
}
});
}

document.getElementById("loadMoreTricks").addEventListener("click", loadMoreTricks);
	</script>


{% endblock %}
