{% for trick in tricks %}
	<div class="col-lg-3 col-md-4 col-sm-6">
		<div class="card">
			<a href="{{ path('trick_show', {'slug': trick.slug}) }}">
				<img src="{{ asset(trick.mainImage.pathThumbnail ~ '/' ~ trick.mainImage.name) }}" class="card-img-top" alt="{{ trick.mainImage.caption }}">
				<div class="card-body text-center">
					<h5 class="card-title"> {{ trick.name }}
						{% if app.user %}
							<div class="float-right">
								<a href="{{ path('trick_edit', {'slug': trick.slug}) }}">
									<i class="fas fa-pencil-alt"></i>
								</a>
								<a href="{{ path('trick_delete', {'slug': trick.slug}) }}" onclick="return confirm(`Êtes-vous sûr de vouloir supprimer le trick : {{trick.name}} ?`)">
									<i class="fas fa-trash-alt"></i>
								</a>
							</div>
						{% endif %}
					</h5>
				</div>
			</a>
		</div>
	</div>
{% endfor %}
